<h1>All Charities</h1>

	<table>
    <% @charities.each do |charity| %>
      <li>
        <%= charity.name %> => 
        <%= charity.main_focus %>
      </li>
    <% end %>
	</table>
<%= link_to 'All Ferrets', ferrets_path %>
